<launch>

  <arg name="robot_name"  doc="Please specify robot name either batman or robin."/>

  <node name="amcl" pkg="amcl" type="amcl">
    <remap from="scan" to="/$(arg robot_name)/scan"/>
    <remap from="amcl_pose" to="/$(arg robot_name)/amcl_pose"/>
    <param name="use_map_topic" value="true"/>
    <param name="odom_frame_id" value="/$(arg robot_name)/odom"/>
    <param name="base_frame_id" value="/$(arg robot_name)/base_link"/>
    <param name="global_frame_id" value="/map"/>
    <param name="laser_model_type" value="likelihood_field"/>
  </node>

</launch>
